

  <div class="banner-content">
    <h1>Cocktails</h1>
    <h2><% @cocktails.each do |cocktail| %>
  <p class= "cocktails"><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %></p>
<% end %></h2>
    <a class="btn btn-primary btn-lg" <%= link_to "Create a new cocktail", new_cocktail_path(@cocktail)  %>
    ></a>

  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://chobolobo.spin-cdn.com/33/109/1779/image-crop/format_frozen_cocktails_curacao_liqueur_5a6b98097d8ec.jpg');">
           <div class="card-category">
              <%= cocktail.name.capitalize %>
           </div>
         </div>
       <% end %>
      <% end %>

    </div>
  </div>
</div>
