

  <div class="banner-content">
    <h1>Cocktails</h1>
    <h2><% @cocktails.each do |cocktail| %>
  <p class= "cocktails"><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %></p>
<% end %></h2>
    <p class="btn btn-primary btn-lg"> <%= link_to "Create a new cocktail", new_cocktail_path(@cocktail)  %></p>

  </div>
</div>




  <div class="container">
    <%  @cocktails.each_slice(12) do |cocktail|%>
      <div class="row">
        <%= render "cocktails/card" %>
      </div>
    <% end %>
  </div>

