<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://chobolobo.spin-cdn.com/33/109/1779/image-crop/format_frozen_cocktails_curacao_liqueur_5a6b98097d8ec.jpg');">
       <div class="card-category">Popular</div>
       <div class="card-description">
         <h2>Le Wagon Shanghai</h2>
         <p>Very cool city, the best</p>
       </div>
       <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
       <a class="card-link" href="#" ></a>
       <%= link_to cocktail_path(1) do %>
       <div>Some stuff</div>
       <% end %>
     </div>
    </div>
  </div>
</div>
